.root {
	-fx-background-color: #2A4D69;
    -fx-pref-width: 320px; 
    -fx-pref-height: 514px;
    -fx-border-radius: 16px;
}

.label {
	-fx-background-color: #E7EFF6;
	-fx-font: bold 40px Inter;
	-fx-text-fill: #4B86B4;
	
	-fx-pref-width: 288px;
	-fx-pref-height: 114px;
	-fx-min-width: 288px;
	-fx-min-height: 114px;
	-fx-max-width: 288px;
	-fx-max-height: 114px;
	
	-fx-border-radius: 8px;
	-fx-alignment: center-right;
	-fx-padding: 8px;
	
}


.button {
	-fx-background-color: #E7EFF6;
	-fx-font: bold 26px Inter;
	-fx-text-fill: #2A4D69;
	
	-fx-border-radius: 8px;

	-fx-pref-width: 66px;  
    -fx-pref-height: 64px;
    -fx-min-width: 66px;   
    -fx-min-height: 64px;  
    -fx-max-width: 66px;   
    -fx-max-height: 64px;  

}

#botaoIgual {
	-fx-font: bold 30px Inter;
	-fx-pref-width: 66px;  
    -fx-pref-height: 136px;
     
    -fx-min-width: 66px;   
    -fx-min-height: 136px;  
    -fx-max-width: 66px;   
    -fx-max-height: 136px;  
	
}

.button:hover {
    -fx-background-color: #2A4D69;
    -fx-text-fill: #E7EFF6;
    -fx-border-color: #E7EFF6;
}
